body {
  font-family: Courier New, Times New Roman;
  font-size: 30px;
  /* background: #dedede url("../images/pink_blossoms.jpg") no-repeat fixed center; */
}

header {
  background-color: #dedede;
}

nav {
  background-color: #00ffa6;
}

main {
  background-color: #20ff00;
  font-size: 20px;
}

section {
  background-image: url("../images/pink_blossoms.jpg");
  height: fit-content;
  background-size: cover;
  background-position: center;
}

footer {
  background-image: url("../images/huron_river_cascades.jpg");
  height: fit-content;
  background-size: cover;
  background-position: center;
}

li {
  display: list-item;
  width: fit-content;
}

h1 {
  color: #0000ff;
  text-align: center;
  font-family: Arial, sans-serif;
}

p {
  line-height: normal;
  font-weight: 900;
  color: magenta;
}

a:link, a:visited {
  background-color: #36f4f2;
  color: #ff4b15;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #f4c236;
  text-decoration: underline
}

a:active {
  border: 3px solid: #000000;
} 

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current {
  color: magenta;
  background-color: yellow;
  text-transform: uppercase;
}

#mainLogo {
    border: azure;
    margin: 0 auto;
    width: 15%;
    height: 15%;
}

a[href$=".org"] {
   background-color: #36f4f2;
   color: #ff4b15;
}

a[href$=".com"] {
    background-color: #0000ff;
    color: #20ff00;
}
