body {
  font-family: Courier New, Times New Roman;
  background-color: #dedede;
  font-size: 30px;
}3

header {
  background-color: #dedede;
}

nav {
  background-color: #00ffa6;
}

main {
  background-color: #20ff00;
  font-size: 20px;
}

footer {
  background-color: #ffe000;
}

li {
  display: list-item;
  width: fit-content;
}

h1 {
  color: #0000ff;
  text-align: center;
  font-family: Arial, sans-serif;
}

p {
  line-height: normal;
}
