html {
  height: 100%;
  width: 100%;
  color: purple
}

body {
  background-color: #dedede;
}

section {
  height: 100px;
  width: 45%;
  background: #00ffff;
}

span {
  height: 100px;
  width: 45%;
  background: #00ffff;
}

p {
  height:100px;
  width: 200px;
  background: #ff00ff;
}

h1 {
  color: blue;
  background-color: yellow;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 50px;
}

h2 {
  color: red;
  background-color: yellow;
  text-align: right;
  font-family: Courier New, Times New Roman;
  font-size: 40px;
}

h3 {
  color: green;
  background-color: yellow;
  font-size: 30px;
}

h4 {
  color: magenta;
  background-color: yellow;
  font-size: 20px;
}

a {
  color: #2000ff;
  background-color: yellow;
  font-size: 20px;
}
